body {
        padding: 50px;
        background-color: rgb(212, 212, 179);
    }
    h1 {
        color: brown;
    }
    .fnt-blue {
        color: blue;
    }
    #nombre_alumno {
        color: green;
    }
    img.guitarras {
        width: 200px;
        border-radius: 15%;
    }
    p.descripcion {
        font-size: 18px;
    }
    div.contenedor {
        padding: 200px;
       border-radius: 5%;
        background-color: beige;
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: center;
    }
    p.superior {
        text-align: center;
        position: fixed;
        top: 0%;
        left: 0%;
        margin: auto;
        color: white;
        background-color: blue;
        font-size: 40px;
        width: 100%;
        height: 40px;
    }
    p.inferior {
        text-align: center; 
        position: fixed;
        bottom: 0%;
        left: 0%;
        color: white;
        font-size: 40px;
        background-color: red;  
        width: 100%;
        height: 40px; 
        margin: auto;
        }
    div.manitos {
        font-size: 300px;
        padding: 100px;
        background-color: black;
        border-radius: 5%;
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: center;
        }
    div.azul {
        background-color: blue;       
        margin: 20px;
        text-align: center;
    }
    div.rojo {
        background-color: red;
        margin: 20px;
        text-align: center;
    }
    div.amarillo {
        background-color: yellow;
        margin: 20px;
        text-align: center;
    }
    div.verde {
        background-color: green;
        margin: 20px;    
        text-align: center;
    }
    div.ejer6 {
        padding: 200px;
        background-color: beige;
        border-radius: 5%;
    }
    div.guitarras {
        padding: 40px;
        border-radius: 5%;
         background-color: rgb(59, 58, 49);
         margin: 10px;
         text-align: center;
         position: relative;
         right: 145px;
    }
 
    div.campo div.fila div{
        background-color: black;
        margin: 2px;
        width: 80px;
        height: 80px;
        display: inline-block;
        position: relative;
    }
    div.campo div.fila div:hover{
        background-color:green;
    }
    i.fa-bomb {
        display: none;
        position: absolute;
        font-size: 78px;
    }
    div.campo div.fila div.mina:hover i{
    
    display:inline-block;
    }
    div.campo div.fila div.mina:hover {
        background-color:red;}
        div.ejercicio9 {
            padding: 100px;
            font-size: 2rem;
            background-color: burlywood;
            border-radius: 5%;
        }
    div.ejercicio9 div p::first-line{
        font-size: 2rem;
        color: brown;
    }
    div.ejercicio9 div p::first-letter{
        font-size: 4rem;
        color: brown;
    }
    section {
        padding: 15px;
        margin: 20px;
        background-color:orange;
        border-radius: 5%;
    }
    section h1 {
        text-align: center;
        font-size: 5rem
        }
        div.ejercicio12 {
            text-align: center;
            width: 500px;
            height: 250px;
            vertical-align: middle;
            background-color: blue;
            padding-top: 50px;
            display: inline-block;
            margin: 10px;
            padding-bottom: 57px;
        }
        div.ejrc12 {
            width: 350px;
            height: 250px;
            background-color: aquamarine;
            display: inline-block;
            border:5px dashed rgb(57, 161, 161);
            font-family: 'Indie Flower', cursive;
        }
        div.contenedor12 {
            font-family: 'Indie Flower', cursive;
            color: blue;
        }
        div.prueba {
            width: 100%;
            height: 50px;
            background-color: blue;
            margin: 10px;
        }
        div.panelinfder label {
            width: 65px;
            display: inline-block;
        }
        .queso div{
            display: inline-block;
        
    }
    div.queso div{
        vertical-align: top;
    }
    div.panel {
        padding-left: 110px;
    }
    div.fecha {
        display: inline-block;
        padding-left: 200px;
    }
    div.delfin {
        display: inline-block;
        vertical-align: top;
    }
    body.factura {
        background-color: white;
    }
    div.factura2 {
        border-right: 5px red solid;
        border-left: 5px red solid;
        width: 300px;
        padding-left: 20px;
    }
    div.primeralinea {
        border-bottom: red 5px solid;
        padding-bottom: 20px;
    }
    table.mitabla {
        width: 60%;
    }
    thead {
        background-color: red;
        color: white;
        margin: 0px;
    }
    tbody{
        border-bottom: 5px red solid;
    }
    p.recibo {
        text-align: right;
    }
    table.mitabla tfoot tr td {
        border-top: 5px red solid;
        border-bottom: 5px red solid;
    }
    table.mitabla tbody td.centrar {
        text-align: center;
    }






        h1.center {
            text-align: center;
        }

        div.col-xl-1 {
            height: 50px;
            background-color: green;
            display: inline-block; 
            color: white;
            text-align: center;
            margin-bottom: 5px;
            border: 5px white solid;

            
        }
        div.col-xl-4 {
            height: 50px;
            background-color: red;
            display: inline-block; 
            color: white;
            text-align: center;
            margin-bottom: 5px;
            border: 5px white solid;
            padding-top: 7px;
        }
        div.col-xl-6 {
            height: 50px;
            background-color: red;
            display: inline-block; 
            color: white;
            text-align: center;
            margin-bottom: 5px;
            border: 5px white solid;
            padding-top: 7px;
        }
        div.ultimo {
            height: 50px;
            background-color: red;
            display: inline-block; 
            color: white;
            text-align: center;
            border: 5px white solid;  
            padding-top: 7px;
        }



        img.icono{
            height: 20px;
        }
        h1.articulo {
            text-align: center;
        }
        div.xx {
            background-color: white;
            width: auto auto auto;
            color: black;
            font-size: 25px;
            display: inline-block; 
        }
        p.arquitectura{
            color: blue;
            font-size: 25px;
        }
        p.rojo {
            color: rgb(25, 109, 25);
        }
        div.xx {
            display: inline;
        }
        div.clase {
            margin-bottom: 30px;
            border-bottom: blue 2px solid;
            padding-bottom: 30px;
        }
h1.articulo {
    text-align: center;
}

