body { 
    padding: 50px; 
}
div.circulo {
    width: 150px;
    height: 150px;
    display: inline-block;
    background-color: yellow;
    border-radius: 100px;
    margin: 40px;
}
div.circulo.cambia {
    background-color: red;
}
div.circulo2.cambia {
    background-color: red;
}
div.circulo2 {
    width: 150px;
    height: 150px;
    display: inline-block;
    background-color: yellow;
    border-radius: 100px;
    margin: 40px;
}
.barra{
    text-align: center;
}
.pp {
    text-align: center;
    padding-top: 25%;
    font-size: 50px;
    color: rgb(42, 3, 78);
}
.tarjeta {
    position: relative;
}   
.corazon {
    position: absolute;
    right: 15px;
    font-size: 30px;
    color: red;
    display: none;
}
.corazonvacio {
    position: absolute;
    right: 15px;
    font-size: 30px;
    color: red;
}
.contenedorlike {
    right: 10px;
    border-color: brown 10px solid;

}
.contador{
    right: 550px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    color: red;
    font-size: 20px;
    border: black 2px dashed;
    position: absolute;
}
#negro {
    background-color: black;
}
.centro {
text-align: center;
}
.centro2 {
    text-align: center;
    position: relative;
    }
.interruptoron{
    display: none;
}
.on {
    display: none; 
    z-index: 1;
}
.bombilla {
    position: absolute;
    right: 300px;
}

.off{
    z-index: 0;
}
#numbicis{
text-align: center;
}
#numslots{
    text-align: center;
    }
.filtross {
    display: inline-block;
    margin: 20px;
}
#ejerbicing {
    background-color: red;
}
#cargarbicing{
    margin-left: 190px;
    font-size: 20px;
}
#tablabicing {
    /* background-color: black; */
    color: white;
    font-size: 25px;
    border: 3px black solid;
}
#tablacabeza {
    background-color: black;
}
#bicicletas {
    background-color: grey;
}
.filtross {
    background-color: grey;
    text-align: center;
    padding-bottom: 10px;
    color: black;
    border: 3px black dashed;
}

.container2 {
    position: relative;

}
.cambur {
    position: absolute;
    width: 500px;
}
.cambur2 {
display: none;

}
